*{
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
}

.honoraires {
    height: 100vh;
    display: grid;
    place-items: center;

    a {
        display: inline-block;
        background: rgb(12, 11, 11);
        color: #1a73e8;
        transition: all 0.3s ease-in-out;
        font-size: 1em;
        padding: 1em;
        border: 1px solid rgb(12, 11, 11);
        cursor: pointer;
        &:hover {
            background: #fff;
            color: #ecde13;
        }
    }
}
